/** text*/
.featurette ul  {
    padding-left:50px;
    padding-right:200px;
    text-align: left;
    margin: 0 auto;

}




img {
    margin-top: 120px;
}

p.lead {
    text-align: left;
    padding: 20px;
}




@media(max-width:833px) {

    .featurette ul  {
        padding-left:40px;
        padding-right:250px;
        text-align: left;
        margin: 0 auto;

    }


}



@media(max-width:774px) {

    .featurette ul  {
        padding-left:40px;
        padding-right:280px;
        text-align: left;
        margin: 0 auto;

    }

    .headline {
        padding: 0px 0;
    }




}


@media(max-width:758px) {

    .featurette ul  {
        padding-left:40px;
        padding-right:40px;
        text-align: left;
        margin: 0 auto;

    }

    .headline {
        padding: 10px 0;
    }




}
